


* {
    font-family:'Arial Narrow Bold', sans-serif;

    font-size: 0.95rem;
    box-sizing: border-box;
    --urgent: red;
    --high: orange;
    --medium: yellow;
    --low: green;
    --due-date: rgb(139, 173, 236);
   

    color: #352f36;
    
   
     
     
}

h1, h2, h3, h4, h5{
    margin: 0;
}

body {
   
    background-color: #f1f1f1;
   
    

}

#index-bar {
    grid-area: 1 / 1 / 2 /2;
    border-radius: 1rem;
    /* text-align: center; */
    background-color: #fefefe;
    padding: 0;
    padding-top: 1rem;
    height: 100%;
    
}

#index-bar>ul>li{
    cursor: pointer;
  color: white;

  border-radius: 5px;;
   font-weight: bold;
}


#projects-header{
     text-align: center;
     padding-bottom: 1rem;
     padding-top: .5rem;
     font-size: 18px;
     color:#246bee;
}

#view-all{
    margin: 0 ;
   /* padding: 0.6rem; */
   font-style:italic;
   font-size: 15px;
   /* background-color: #ebebeb; */
}


nav {
    display: grid;
    gap: 5px;

}

li{
    font-weight: normal;
    list-style-type: none;
    /* margin-left: .5rem; */
    text-align: left;
    padding:.5rem;
    margin: .2rem .4rem;
    background-color:cornflowerblue
    
    
}

#all{
    background-color: #246bee;
}

#all:hover{
    background-color: #ee4624;
}
ul{
  margin: 0;
  padding: 0; 
}

.project-name:hover{
    background-color: #ee4624;
}

.active{
    background-color: #ee4624;
}



#content {
  
     display: grid;
    grid-template-columns: 1fr 6fr;
    /* grid-template-rows: 2fr 1fr; */
    gap: 0.8rem;
    max-width: 1200px;
    margin: auto;
   
}

#content:is(.three-columns){
 grid-template-columns: 1fr 4fr 3fr
}



#item-container{
    display: grid;
   
    border-radius: 1rem;
   grid-row-start: 1;
   grid-column-start: 2;
    gap: 1em;
    
    background-color: #fefefe;
    padding:  1rem 1rem 2rem;
   box-shadow: 0 2px 18px 0 rgba(0, 0, 0, .08),
    0 1px 4px 0 rgba(0, 0, 0, .04);
   
    
  grid-template-rows: 3rem;

}

#site-header{
    grid-area: 1/1/2/2;
    margin: 0 auto;
    font-size: 28px;
    color: #246bee;
    height: 4rem;
    font-weight: bold;
}




.item-list-view{
    margin:0 5px ;
    padding: 0 15px 1px;
    background-color: #fefefe;
    border-radius: 5px;
    display: grid;
 grid-template-rows: 1.5rem ;
    height: 3rem !important;
    cursor: pointer;
}

.item-list-view>p>p{
    color: white;
   
    height: 1.15rem;
    border-radius: 5px;
    padding:0 8px;
}

.urgent>p>p{
    background-color: var(--urgent);
}
.high>p>p{
    background-color: var(--high);
}

.medium>p>p{
    background-color:var(--medium);
    color: #352f36;
}
.low>p>p{
    background-color: var(--low);
}



.item-content {
    grid-area: 2/1/3/2;
    display: flex;
  
}

.category, .due-date {
    color: #8a8a8a;
    font-size: 12px;
    margin: 0 0.4rem 0 1.8rem ;
}

.complete, .incomplete{
    /* margin-top: -10px; */
    
    /* left: 1px; */
    width: 15px;
    /* height: 15px; */
   border: none;
    border-radius: 7.5px;
    grid-area: 1 / 1 / 2/ 2;
}

/* .incomplete{
position: relative;
    top: 1.8em;
} */

.complete {
    background-color: blue;
    margin: auto 0;
  
}

input[type="checkbox"]:is(.complete) {
    accent-color: gray                    ;
    text-decoration: line-through;
    
    /* position:relative;
    top: 0.6rem; */

}

.category{
    margin-bottom: 3px;
}

.due-date{
    margin-left: 0;
}
.item-header {
    margin:.2rem 1.8rem 0.1rem;
    display: flex;
    font-weight:600;
   
    grid-area: 1/1/1/2;
    height: 1.2rem;
   
   
    
}

.item-header>p{
    position: relative;
    margin-top: 0;
    margin-left: 20px;
    font-weight: 100;
    padding-bottom: 0;

  
   
}

.completed-item>.item-header{
    margin: auto 10px auto 5px;
}
.completed-item>div{
    
    position: relative;
    top: 3px;
    left: -20px;
  
}
.notes{
    font-size: 12px;
    font-style: italic;
}
.item-list-view:hover{
    background-color:#ececec;
}

.item-list-view:active, .selected, .selected:hover {
    background-color: white;
   
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, .08),
    0 1px 4px 0 rgba(0, 0, 0, .04);
}

.item-list-view:has(.complete){
    background-color: none;
    border: none;
   
}
.item-list-view:has(.complete)>p{
    color: #b1b1b1;
    text-decoration: line-through;
    font-weight: normal;

}

.completed-item{
 display:flex;
    align-items: center;
}

.item-delete-button{
    font-size: 12px;
    background: #b4b4b4 !important;
    color: #ffffff;
    width: 22px;
    height: 22px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: -4px;
    /* margin: -12px 0 0 5px;  */
   
}

.project-name:hover{
    text-decoration: underline;
    font-style: italic;
}

.active{
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

#index-bar, #item-container{
    margin-top: 5px;
    padding-bottom: 2rem;
    height: inherit;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, .08),
    0 1px 4px 0 rgba(0, 0, 0, .04);
}


/* #item-card{
    grid-area: (1 / 3 / -1 / -1);
    margin: 5px ;
    padding: 5px 10px 20px;
    background-color: white;
    border-radius: 1rem;;
   
} */
dialog{
border: none;
 border-radius: 10px;
 box-shadow: 0 2px 18px 0 rgba(0, 0, 0, .08),
    0 1px 4px 0 rgba(0, 0, 0, .04);
}
.visible{
    position: static;
    margin-top: 5px;
    margin-right: 5px;
    
   
    
    display: grid;
  
    width: 100%;
   
}

/* .visible p{
    border: .5px grey solid;
  
    gap: 0;

} */
/* #item-card, .visible{
    
    /* grid-template-rows: repeat(5, 1fr)  1fr 1fr  ; */





#item-card-header{
    font-size: 22px;
    font-weight: bold;
    margin:0 0 .4rem 0;
    border: none;
    height: 30px;
    resize: none;
    overflow: hidden;
    color: #246bee;
    
    /* padding:0 0 13px; */
     background-color: none !important;
    box-shadow: none !important;
    text-align: left;
    
}

.item-card-categories{
    position: absolute;
    margin: 3px 3px 5px;
    color: #7c7c7c;
  
   
}

.item-card-date{
    /* font-style: italic; */
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin: auto .2rem;
    border-radius: 10px;
    padding: .2rem .4rem;
    width: fit-content;
    color: white;
    /* background: linear-gradient(#e5e5e5, white, #e5e5e5); */
    /* background: linear-gradient(var(--due-date), white, var(--due-date)); */
    background-color: var(--due-date);
}

.item-card-date:hover{
  
   color: white;
   text-shadow: #7c7c7c;
   background-color: cornflowerblue;
   border: .5px solid cornflowerblue;
}

.item-card-date:active{
    transform: translate(2px, 2px);
}


#button-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /* align-self: flex-end; */
    height: 100%;
    /* border:gray .5px solid; */
}

#update-button, #cancel-button{
    border: none;
    padding: .6rem 1rem;
    min-width: 7rem;
    border-radius: .4rem;
}

#add-new{
   grid-row-start: 2;
   
 

   

    
}

#new-item-name{
    border: none;
    box-shadow:  0 0px 18px 0 rgba(0, 0, 0, .08);
    height: 2.4rem;
    padding: 0 2rem;
    /* margin: auto ; */
    outline: none;
    border-radius: 8px;
   
    border: #e4e4e4 solid .3px;
    /* background: linear-gradient(#ffffff, #f1f1f1, #ffffff,#f1f1f1); */

    
}

#new-category{
    height: 10px;
}

#date-priority-container{
    display: grid;
    grid-auto-flow:column;
}

button{
    border: #e9e9e9 solid .3px;
    box-shadow:  3px 2px 4px 0 rgba(0, 0, 0, .08);
    height: 2.4rem;
    padding: 0 1rem;
    margin: 5px;
    /* background: linear-gradient( #f2f2f2, #ffffff, #f2f2f2); */
    background: linear-gradient(45deg, #f3f3f3, #fff, #f3f3f3);
    font-size: 18px;
    border-radius: 8px;

   
}
button:hover{
    background: linear-gradient(45deg, #fff, #f3f3f3, #fff);
    /* color: rgb(66, 70, 195); */
    font-weight: bold;
}

button:active{
    translate: 2px 2px; 
}
#calendar-container{
    position: relative;
   margin: 200px  auto;
}

#calendar-container>input{
   margin: 5px 5px 20px;
   
}

.date-button{
    font-size: 12px;
    padding: 5px;
    margin: 5px;
    width: 40%;
}

#projects-container{
   display: flex;
   color:#7c7c7c;
   
   /* justify-content: flex-start; */
   
   

    justify-content: space-between;
    /* border: gray 1px solid; */
    /* align-items:center; */
    padding: 0;
}

#projects-container>textarea{
    resize: none;
    overflow: hidden;
    height: 1.4rem;
    margin: auto 0 auto 4rem;;
   flex-grow: 2;
    
    
}

#projects-container>p{
    font-weight: bold;
    border: none;
}

#item-card-categories::picker{
   margin-left: 0;
}

#priority-container{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}
#priority-container>p{
     font-weight: bold;
    border: none;
    
}

#projects-container>textarea{
    margin-right: 0;
}

#description{
    overflow: none;
    resize: none;
    height: 2rem;
}

textarea{
      border: none;
    box-shadow:  0 0px 18px 0 rgba(0, 0, 0, .08);
    /* height: 2.4rem; */
    padding: .1rem .6rem;
    /* margin: 0 ; */
    outline: none;
    border-radius: 8px;
    /* width: 65%; */
    /* border: #e4e4e4 solid .3px; */
}

select{
    border: none;
}


hr{

height: .2px;
width: 90%;
    margin: 25px auto;
color:#b4b4b4;

}

/* #priority-select{
    position: relative;
}

#priority-select select{
display: none;
}

#priority-select hide{
    display: none;
} */
#priority-container>p{
    margin-right: 10px;
}

#priority-container>div{
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 6rem;
    
    
}

#priority-container{
   padding: 3px;
   text-align: right;
}

#low, #priority-low{
  
    background-color: var(--low);
    
    
    
   
     
}



#medium, #priority-medium{
    
   background-color:var(--medium);
   color: #352f36;

    
    
    
   
     
}
#high, #priority-high{
   
    background-color: var(--high);
  
      
   
 
   
}
#urgent, #priority-urgent{
    
    background-color: var(--urgent);
     
      
    
    
   
}

.priority-list{
    
     position: relative;
}

.priority-option:first-of-type{
    margin-top: 2px;
}

.priority-select,::picker(select){
    appearance: base-select;
    border: none;
}



.priority-select::picker-icon{
   margin:0 15px 2px 0;
    transition: 0.4s rotate;
}

.priority-select:open::picker-icon{
   
    rotate: 180deg;
}

.priority-select{
    max-height: 1.6rem;
}



::picker(select){
    border: none;
}
.priority-option{
    width: 6rem;
    color: white;
    display: flex;
    justify-content: flex-start;
     font-weight: bold;
     gap:5px;
     padding:0 5px;
    position: relative;
    border-radius: 5px;
       
}
/* 
.urgent{
   background-color: rgb(255, 246, 246);
} */


