* {
    font-family:'Arial Narrow Bold', sans-serif;

    font-size: 0.95rem;
     /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
}

h1, h2, h3, h4, h5{
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: #f1f1f1;
    gap: .8rem;

}

header {
    grid-area: 1 / 1 /-1 / 2;
    border-radius: 1rem;
    /* text-align: center; */
    background-color: #fefefe;
    padding-top: 1rem;
    height: 100%;
   
    
}

#projects-header{
     padding-left: 1rem;
}

#view-all{
    margin: 0 ;
   /* padding: 0.6rem; */
   font-style:italic;
   font-size: 15px;
   /* background-color: #ebebeb; */
}


nav {
    display: grid;
    gap: 5px;

}

ul, li{
    font-weight: normal;
    list-style-type:none;
    text-align: left;
    padding:0 .5rem 1rem;
    
    
}


#content {
    grid-area: 1 / 2 / -1 / -1
}

#item-container{
    display: grid;
    border-radius: 1rem;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 8px;
    background-color: #fefefe;
    padding:  2rem 1rem;
    height: 100%;
    /* background-color: #f5f7f9; */
}

.item-card{
    margin: 5px ;
    padding: 5px 10px 20px;
    background-color: white;
    border-radius: 1rem;;
   
}

.item-list-view{
    margin:0 5px ;
    padding: 0 15px 1px;
    background-color: #fefefe;
    border-radius: 5px;
    display: grid;
    max-height: 3rem;
   
   
}


.item-content {
    display: flex;
}

.category, .due-date {
    color: #8a8a8a;
    font-size: 12px;
    margin: 0 0.4rem 0 1.8rem ;
}

.complete, .incomplete{
    margin-top: -10px;
    position: relative;
    top: 1.8em;
    /* left: 1px; */
    width: 15px;
    height: 15px;
   border: none;
    border-radius: 7.5px;
    grid-area: 1 / 1 / -1/ 2;
}

.complete {
    background-color: blue;
}

input[type="checkbox"]:is(.complete) {
    accent-color: gray                    ;
    text-decoration: line-through;
    text-decoration: line-through;
    position:relative;
    top: 1.2rem;

}

.category{
    margin-bottom: 3px;
}

.due-date{
    margin-left: 0;
}
.item-header {
    margin: 0 1.8rem 0.1rem;
    font-weight:600;
    color: #303030;
}

.notes{
    font-size: 12px;
    font-style: italic;
}
.item-list-view:hover{
    background-color:#ececec;
}

.item-list-view:active, .selected, .selected:hover {
    background-color: white;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, .08),
    0 1px 4px 0 rgba(0, 0, 0, .04);
}

.item-list-view:has(.complete){
    background-color: none;
    border: none;
}
.item-list-view:has(.complete)>p{
    color: #b1b1b1;
    text-decoration: line-through;
    font-weight: normal;

}

.project-name:hover{
    text-decoration: underline;
    font-style: italic;
}

.active{
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}
